{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="content-section">
        <div class="row">
            <div class="col-lg-12">>
                <h3>Bulk Email Import</h3>
            </div>
        </div>
    </section>

    <section class="content-section">
        <form action="#" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-3">
                <label for="audience">Audience:</label>
                    <select name="audience" class="form-control">
                        <option value="">Audience</option>
                        {% for audience in audiences %}
                        <option value='{{ audience.audience }}'>{{ audience.audience }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-9">
                <label for="email-address-import">Email address to import:</label>
                    <textarea name="email-address-import" class="form-control mb-30" minlength="6" placeholder="address@email.com" required rows="6"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 pt-4 pb-2">
                    <input type="submit" class="btn btn-CCL-Blue col-12" value="Import Emails">
                </div>
            </div>
        </form>
    </section>
{% endblock %}