{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="content-section">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h3>Bulk Email Import</h3>
            </div>
        </div>
    </section>

    {% if not successful_subscription %}
    <section class="content-section text-CCL-Gold">
        <form action="#import_results" method="post">
            {% csrf_token %}
            <div class="row pt-1">
                <div class="col-lg-3">
                <label for="audience" class="pb-1">Audience:</label>
                    <select name="audience" class="form-control">
                        {% for audience in audiences %}
                        <option value='{{ audience.audience }}'>{{ audience.audience }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-9">
                <label for="email-address-import" class="pb-1">Email address to import:</label>
                    <textarea
                            name="email-address-import"
                            class="form-control mb-30"
                            minlength="6"
                            placeholder="Enter as many emails as you want, separating each address with a semi-colon (;). Be sure to enter only correctly formatted email addresses. Only emails not currently associated with a user account or a subscribed email will be added to the selected Audience-Mailing List."
                            required rows="6"
                    ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 pt-4 pb-2">
                    <input type="submit" class="btn btn-CCL-Blue col-12" value="Import Emails">
                </div>
            </div>
        </form>
    </section>
    {% else %}
    <section class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h4>Bulk Email Import Results - Audience: {{ audience_entered }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ success_message|safe }}
            </div>
        </div>
    </section>
    <div class="pb-2"></div>
    {% endif %}
{% endblock %}