{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    {% if page_type == 'Update' %}
        Edit Subscription
    {% else %}
        Subscribe
    {% endif %}
{% endblock %}
{% block content %}
    {% if form.errors %}
    <article class="content-section-danger alert-section">
        <div>
        <p class="alert-danger">Please review the following:</p>
            <ul>
            {% for key, value in form.errors.items %}
                {% for error in value %}
                    {% if error != '' %}
                        <li class="alert-danger">{{ error }}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </article>
    {% endif %}

    <section class="content-section">
        <div class="row pt-2">
            <div class="col-lg-12">
            {% if page_type == 'Update' %}
                <h3><strong>Edit Subscription: {{ task.task_title }}</strong> </h3>
            {% else %}
                <h3><strong>Subscribe</strong></h3>
            {% endif %}
            </div>
        </div>
    </section>

    {% if not user.is_authenticated %}
    <section class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-12">
                <p>
                    You can sign up for our monthly Newsletter below.
                    Please select the mailing list and enter your email below to subscribe.
                    By subscribing you are giving the Elemental Grace Alliance Express Permission to add your email to our e-mailing list.
                </p>
                <p>
                    In order to ensure compliance with email messaging regulations (including GDPR), subscribing to our mailing list(s) requires two steps:
                </p>
                <ol>
                    <li>Please <strong>enter your email</strong> in the field below and then <strong>click the Subscribe button</strong>:</li>
                    <ul>
                        <li><strong>Upon subscribing you will be sent a confirmation opt-in email.</strong></li>
                        <li>Please check your inbox for an email from @cosmicchrist.love.</li>
                        <li>If this email does not appear within a couple of minutes please check your spam folder.</li>
                    </ul>
                    <li><strong>Click the link in the confirm subscription email</strong> emailed to you:</li>
                        <ul>
                            <li>Clicking this link will take you to a page with a confirmation message.</li>
                            <li>Your subscription will then be complete.</li>
                        </ul>
                </ol>
            </div>
        </div>
    </section>
    <section class="content-section text-CCL-Gold">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media}}
            <div class="row">
                <div class="col-lg-3">
                    {{ form.audience|as_crispy_field }}
                </div>
                <div class="col-lg-9">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="row pt-2 pb-2">
                <div class="col-lg-3">
                    {% if page_type == 'Update' %}
                        <input type="submit" value="Update Subscription" class="btn btn-CCL-Blue float-end col-12">
                    {% else %}
                        <input type="submit" value="Subscribe" class="btn btn-CCL-Blue float-end col-12">
                    {% endif %}
                </div>
            </div>
        </form>
    </section>
    {% endif %}

{#    <section class="content-section text-CCL-Gold">#}
{#        <div class="row pt-2 pb-2">#}
{#            <div class="col-lg-3">#}
{#                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-CCL-Blue col-12">Back</a>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}