{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="content-section">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h3>{{ title }}</h3>
            </div>
        </div>
    </section>

    {% if newsletter_count == 0 %}
    <section class="content-section">
        <div class="row pt-2">
            <div class="col-lg-12">
                <p>There are currently no published Cosmic Christ Love Newsletters.</p>
            </div>
        </div>
    </section>
    {% else %}
        {% for newsletter in newsletters %}
        <section class="content-section">
            <div class="row pt-2">
                <div class="col-lg-9">
                    <h5>{{ newsletter.subject }}</h5>
                </div>
                <div class="col-lg-3 text-CCL-Gold text-end">
                    <h5>Published: {{ newsletter.date_published|date:'d F, Y' }}</h5>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-lg-12">
                    {{ newsletter.message|safe }}
                </div>
            </div>
        </section>
        {% endfor %}
    {% endif %}

    <section class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-3 pb-2">
                <a href="{% url 'home' %}" class="btn btn-outline-CCL-Blue col-12">Home</a>
            </div>
            <div class="col-lg-3 pb-2">
            </div>
            <div class="col-lg-3 pb-2">
            </div>
            <div class="col-lg-3 pb-2">
                <a href="{% url 'subscribe' %}" class="btn btn-CCL-Blue col-12">Subscribe to Our Newsletters</a>
            </div>
        </div>
    </section>

{% endblock %}