{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="content-section">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h3>{{ title }}</h3>
            </div>
        </div>
    </section>

    {% if not user.is_authenticated %}
    <section class="content-section">
        <form method="get">
            <div class="row pt-2">
                <div class="col-lg-3">
                    <select name="audience-selection" class="form-control">
                        <option value="">Select Mailing List...</option>
                        {% for audience in external_audiences %}
                        <option value='{{ audience.audience }}'>{{ audience.audience }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3">
                    <input type="email" name="email-address-entry" class="form-control" placeholder="email address to subscribe">
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-CCL-Blue col-12" value="Subscribe">Subscribe</button>
                </div>
            </div>
        </form>
    </section>
    {% endif %}

    <section class="content-section">
        <div class="row pt-2">
            <div class="col-lg-12">
            </div>
        </div>
    </section>
{% endblock %}