{% extends 'base.html' %}
{% load static %}
{% block title %}
    Learned Experience Engine (LEE)
{% endblock %}
{% block content %}
    <div class="content-section">
        <div>
            <h3><strong>Learned Experience Engine (LEE)</strong></h3>
        </div>
    </div>
    <div class="content-section">
        <div class="row pt-2 pb-2">
            <div class="col-lg-3">
                <a class="btn btn-CCL-Blue col-12" href="{% url 'lee-create' %}">Create LEE Entry</a>
            </div>
        </div>
    </div>

    <article class="content-section">
        <h5><strong>Filter LEE</strong></h5>
        <form method="get">
            <div class="row">
                <div class="col-lg-3 pb-2">
                    <button type="submit" class="btn btn-outline-CCL-Blue col-12">Filter LEE</button>
                </div>
                <div class="col-lg-3 pb-2">
                    <input
                            type="text"
                            name="search-area"
                            class="button-margin-tlr form-control"
                            value="{{ search_input }}"
                            placeholder="by Task Name"
                    >
                </div>
                <div class="col-lg-3 pb-2">
                    <input
                            type="text"
                            name="code-search-area"
                            class="button-margin-tlr form-control"
                            value="{{ code_search_input }}"
                            placeholder="by Application"
                    >
                </div>
                <div class="col-lg-3 pb-2">
                    <input
                            type="text"
                            name="owner-search-area"
                            class="button-margin-tlr form-control"
                            value="{{ owner_search_input }}"
                            placeholder="by Dear Soul Responsible"
                    >
                </div>
            </div>
        </form>
        {% if not search_off %}
            {% if search_type == 'Task' %}
                {% if search_count == 0 %}
                    <p class="text-danger">There are no entries with "{{ search_entered }}" in the field, Task Name.</p>
                {% else %}
                    <p class="text-CCL-Blue">There {{ search_count|pluralize:"is,are" }} {{ search_count }} entr{{ search_count|pluralize:"y,ies" }} with "{{ search_entered }}" in the field, Task Name.</p>
                {% endif %}
            {% elif search_type == 'App' %}
                {% if search_count == 0 %}
                    <p class="text-danger">There are no entries with "{{ search_entered }}" in the field, Applications.</p>
                {% else %}
                    <p class="text-CCL-Blue">There {{ search_count|pluralize:"is,are" }} {{ search_count }} entr{{ search_count|pluralize:"y,ies" }} with "{{ search_entered }}" in the field, Application.</p>
                {% endif %}
            {% elif search_type == 'Owner' %}
                {% if search_count == 0 %}
                    <p class="text-danger">There are no entries with "{{ search_entered }}" in the field, Responsible For Entry.</p>
                {% else %}
                    <p class="text-CCL-Blue">There {{ search_count|pluralize:"is,are" }} {{ search_count }} entr{{ search_count|pluralize:"y,ies" }} with "{{ search_entered }}" in the field, Responsible For Entry.</p>
                {% endif %}
            {% endif %}
        {% endif %}
    </article>

    <div class="content-section d-none d-xl-block">
        <div class="row pt-2">
            <div class="col-lg-3">
                <h6><strong>Task Name</strong></h6>
            </div>
            <div class="col-lg-3">
                <h6><strong>Application</strong></h6>
            </div>
            <div class="col-lg-3">
                <h6><strong>Responsible</strong></h6>
            </div>
            <div class="col-lg-3">
                <h6><strong>Process Code</strong></h6>
            </div>
        </div>
    </div>

    {% for LEE_entry in LEE %}
        <section class="list-group-item list-group-item-light {% cycle 'row1' 'row2' %}">
            <div class="row">
                <div class="col-lg-3">
                    <p>
                        <a href="{% url 'lee-entry' LEE_entry.id %}" class="text-BlueGray"><strong>{{ LEE_entry.task_name }}</strong></a>
                    </p>
                </div>
                <div class="col-lg-3">
                    {{ LEE_entry.application }}
                </div>
                <div class="col-lg-3">
                    {{ LEE_entry.responsible_for_entry }}
                </div>
                <div class="col-lg-3">
                    {{ LEE_entry.process_code }}
                </div>
            </div>
        </section>
    {% endfor %}
    <p class="pb-2"></p>
{% endblock %}
