{% extends 'base.html' %}
{% load static %}
{% block title %}
    LEE entry: {{ LEE.task_name }}
{% endblock %}
{% block content %}

    {% if messages %}
        <section>
            <div>
                <p class="alert-{{ message.tags }}">
                    {{ message }}
                </p>
            </div>
        </section>
    {% endif %}

    <section class="content-section">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h3><strong>Process Role: {{ LEE.task_name }}</strong></h3>
            </div>
        </div>
    </section>
    <section class="content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-3">
                <p><strong>Application: </strong>{{ LEE.application }}</p>
            </div>
            <div class="col-lg-3">
                <p><strong>Entry Owner: </strong>{{ LEE.responsible_for_entry }}</p>
            </div>
            <div class="col-lg-3">
                <p><strong>Process Code: </strong>{{ LEE.process_code }}</p>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-12">
                <p><strong>Process Description</strong></p>
                {{ LEE.process_description|safe }}
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-12">
                <p><strong>Process Outcome:</strong></p>
                {{ LEE.process_outcome|safe }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 pb-2">
                <a href="{% url 'lee' %}" class="btn btn-outline-CCL-Blue col-12">Back to LEE</a>
            </div>
            <div class="col-lg-3 pb-2">
                <a href="{% url 'lee-update' LEE.id %}" class="btn btn-CCL-Blue col-12">Edit LEE Record</a>
            </div>
            <div class="col-lg-3 pb-2">
            </div>
            <div class="col-lg-3 pb-2">
                <a href="{% url 'lee-delete' LEE.id %}" class="btn btn-outline-danger col-12">Delete LEE Record</a>
            </div>
        </div>
    </section>
{% endblock %}