{% extends 'base.html' %}
{% load static %}
{% load index %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    {% if messages %}
        <section>
            <div>
                <p class="alert-{{ message.tags }}">
                    {{ message }}
                </p>
            </div>
        </section>
    {% endif %}
    <section class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h3><strong>Service Group: {{ service_group.service_group }}</strong></h3>
            </div>
        </div>
    </section>
    <section class="content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Type:</strong> {{ service_group.service_group_type }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Purpose:</strong></p>
                {{ service_group.purpose|safe }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Qualified Intentions:</strong></p>
                {{ service_group.qualified_intentions|safe }}
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="row pt-2">
            <div class="col-lg-3">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-CCL-Blue col-12">Back</a>
            </div>
            <div class="col-lg-3 pb-2">
                <a href="{% url 'service-group-update' service_group.id %}" class="btn btn-CCL-Blue col-12">Edit Service Group</a>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3 pb-2">
                <a href="{% url 'service-group-delete' service_group.id %}" class="btn btn-outline-danger col-12">Delete Service Group</a>
            </div>
        </div>
    </section>
{% endblock %}