{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    Completed Tasks
{% endblock %}
{% block content %}
    <section class="content-section">
        <div class="row">
            <div class="col-lg-12 pt-2">
                <h3><strong>Completed Tasks</strong></h3>

            </div>
        </div>
    </section>
    <section class="content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-12">
                {% if completed_tasks_count > 0 %}
                    <p>You currently have {{ completed_tasks_count|intcomma }} completed task{{ completed_tasks_count|pluralize:"s" }}.</p>
                {% else %}
                    <p>You currently have no completed tasks.</p>
                {% endif %}
                {% if tasks_count == 0 %}
                    <p>You currently have no <a class="text-CCL-Blue" href="{% url 'tasks-library' %}">active tasks</a>.</p>
                {% elif tasks_count > 0 %}
                    <p>You also have <a class="text-CCL-Blue" href="{% url 'tasks-library' %}">{{ tasks_count|intcomma }} active task{{ tasks_count|pluralize:"s" }}</a>.</p>
                {% endif %}
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-lg-3 pb-2">#}
{#                <a class="btn btn-CCL-Blue col-12" href="{% url 'task-create-library' %}">Add A Library Observation Task</a>#}
{#            </div>#}
{#        </div>#}
    </section>
    <section class="content-section d-none d-xl-block text-CCL-Gold">
        <div class="row">
            <div class="col-lg-2">
                <h5><strong>Dear Soul</strong></h5>
            </div>
            <div class="col-lg-6">
                <h5><strong>Task</strong></h5>
            </div>
            <div class="col-lg-2">
                <h5><strong>Priority</strong></h5>
            </div>
            <div class="col-lg-2">
                <h5><strong>Due Date</strong></h5>
            </div>
        </div>
    </section>
    {% for task in tasks %}
    <section class="list-group-item list-group-item-light {% cycle 'row1' 'row2' %} text-CCL-Gold">
        <div class="row pt-2 pb-2">
            <div class="col-lg-2">
            {% if task.assigned_profile %}
                {{ task.assigned_profile }}
            {% endif %}
            </div>
            <div class="col-lg-6">
                <p><a href="{% url 'task' task.id %}" class="text-CCL-Blue"><strong>{{ task.task_title }}</strong></a>
            </div>
            <div class="col-lg-2">
                {{ task.task_priority }}
            </div>
            <div class="col-lg-2">
                {{ task.due_date|date:"d/m/Y" }}
            </div>
        </div>
        <div class="row"></div>
    </section>
    {% endfor %}
    <p class="pb-2"></p>
{% endblock %}