{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="content-section">
        <div class="row">
            <div class="col-12 pt-2">
                <h3><strong>{{ title }}</strong></h3>
            </div>
        </div>
    </section>
    <section class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h5><strong>Library Tasks Summary</strong></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-CCL-Gold">
            <strong>Total Active Tasks: </strong>{{ tasks_count|intcomma }}
            </div>
            <div class="col-lg-6 text-CCL-Gold">
            <strong>Total Completed Tasks: </strong><a href="{% url 'tasks-completed-library' %}" class="text-CCL-Blue">{{ completed_tasks_count }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-CCL-Gold">
                <strong>Active Observation Tasks: </strong>{{ observation_task_count|intcomma }}
            </div>
            <div class="col-lg-3 text-CCL-Gold">
                <strong>Active Book Edit Tasks: </strong>{{ edit_task_count|intcomma }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-CCL-Gold">
                <strong># of Records Currently Tasked: </strong>{{ number_of_related_records_tasked|intcomma }}
            </div>
            <div class="col-lg-3 text-CCL-Gold">
                <strong>Active "Library Tasks": </strong>{{ library_task_count|intcomma }}
            </div>
        </div>
        <div class="row pt-4 pb-2">
            <div class="col-lg-3">
                <a class="btn btn-CCL-Blue col-12" href="{% url 'task-create-library' %}">Add A Library Task</a>
            </div>
        </div>
    </section>

{#    <div class="row">#}
{#        <div class="col-lg-6">#}
{#            <section class="content-section text-CCL-Gold">#}
{#                <div class="row pt-2">#}
{#                    <div class="col-lg-12">#}
{#                        <h5><strong>Library Tasks Summary</strong></h5>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-lg-6 text-CCL-Gold">#}
{#                    <strong>Total Active Tasks: </strong>{{ tasks_count|intcomma }}#}
{#                    </div>#}
{#                    <div class="col-lg-6 text-CCL-Gold">#}
{#                    <strong>Total Completed Tasks: </strong><a href="{% url 'tasks-completed-library' %}" class="text-CCL-Blue">{{ completed_tasks_count }}</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-lg-6 text-CCL-Gold">#}
{#                        <strong>Active Observation Tasks: </strong>{{ observation_task_count|intcomma }}#}
{#                    </div>#}
{#                    <div class="col-lg-6 text-CCL-Gold">#}
{#                        <strong>Active Book Edit Tasks: </strong>{{ edit_task_count|intcomma }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-lg-6 text-CCL-Gold">#}
{#                        <strong># of Records Currently Tasked: </strong>{{ number_of_related_records_tasked|intcomma }}#}
{#                    </div>#}
{#                    <div class="col-lg-6 text-CCL-Gold">#}
{#                        <strong>Active "Library Tasks": </strong>{{ library_task_count|intcomma }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row pt-4 pb-2">#}
{#                    <div class="col-lg-12">#}
{#                        <a class="btn btn-CCL-Blue col-12" href="{% url 'task-create-library' %}">Add A Library Task</a>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{#        </div>#}
{#        <div class="col-lg-6">#}
{#            <section class="content-section text-CCL-Gold">#}
{#                <div class="row pt-2">#}
{#                    <div class="col-lg-12">#}
{#                        <h5><strong>User Account Library Record Viewing Totals</strong></h5>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-lg-3">#}
{#                        <strong>Past Day: </strong>{{ records_read_today|intcomma }}#}
{#                    </div>#}
{#                    <div class="col-lg-3">#}
{#                        <strong>Past Week: </strong>{{ records_read_this_week|intcomma }}#}
{#                    </div>#}
{#                    <div class="col-lg-3">#}
{#                        <strong>Past Month: </strong>{{ records_read_this_month|intcomma }}#}
{#                    </div>#}
{#                    <div class="col-lg-3">#}
{#                        <strong>All Time: </strong>{{ total_records_read|intcomma }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row pt-4">#}
{#                    <div class="col-lg-12">#}
{#                        <h5><strong>Anonymous Library Record Viewing Totals</strong></h5>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row pb-2">#}
{#                    <div class="col-lg-3">#}
{#                        <strong>Past Day: </strong>{{ anonymous_read_today|intcomma }}#}
{#                    </div>#}
{#                    <div class="col-lg-3">#}
{#                        <strong>Past Week: </strong>{{ anonymous_read_this_week|intcomma }}#}
{#                    </div>#}
{#                    <div class="col-lg-3">#}
{#                        <strong>Past Month: </strong>{{ anonymous_read_this_month|intcomma }}#}
{#                    </div>#}
{#                    <div class="col-lg-3">#}
{#                        <strong>All Time: </strong>{{ total_anonymous_read|intcomma }}#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
{#        </div>#}
{#    </div>#}

    {% if tasks_count > 1 %}
    <section class="content-section">
        <form method="get" class="pt-2">
            <div class="row">
                <div class="col-lg-3 pb-2">
                    <button type="submit" class="btn btn-outline-CCL-Blue col-12">Filter Librarian Tasks</button>
                </div>
                <div class="col-lg-3 pb-2">
                    <select name="assignee-search-area" class="form-control" placeholder="By Assigned Dear Soul">
                        <option value="">by Dear Soul</option>
                        {% for dear_soul in dear_souls %}
                        <option value='{{ dear_soul.spiritual_name }}'>{{ dear_soul.spiritual_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3 pb-2">
                    <select name="service-group-search-area" class="pe-2 form-control">
                        <option value="">by Service Group</option>
                        {% for service_group in service_groups %}
                        <option value='{{ service_group.service_group }}'>{{ service_group.service_group }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3 pb-2">
                    <select name="record-search-area" class="pe-2 form-control">
                        <option value="">by Related Library Record</option>
                        {% for record in list_of_related_records_for_tasks %}
                        <option value='{{ record }}'>{{ record }}</option>
                        {% endfor %}
                    </select>
                </div>
{#                <div class="col-lg-3 pb-2">#}
{#                    <select name="priority-search-area" class="pe-2 form-control">#}
{#                        <option value="">by Task Priority</option>#}
{#                        <option value='1) High'>1) High</option>#}
{#                        <option value='2) Normal'>2) Normal</option>#}
{#                        <option value='3) Low'>3) Low</option>#}
{#                    </select>#}
{#                </div>#}
            </div>
        </form>
    {% if not search_off %}
        <div class="row">
            <div class="col-lg-9">
            {% if search_type == 'Dear Soul' %}
                {% if search_count == 0 %}
                    <p class="text-danger">There are no tasks with "{{ search_entered }}" assigned. <span class="text-CCL-Gold">(search type: {{ search_type }})</span></p>
                {% else %}
                    <p class="text-CCL-Blue">There {{ search_count|pluralize:'is,are' }} {{ search_count }} task{{ search_count|pluralize:"s" }} with "{{ search_entered }}" assigned. <span class="text-CCL-Gold">(search type: {{ search_type }})</span></p>
                {% endif %}
            {% elif search_type == 'Service Group' %}
                {% if search_count == 0 %}
                    <p class="text-danger">There are no tasks with "{{ search_entered }}" in the Service Group field. <span class="text-CCL-Gold">(search type: {{ search_type }})</span></p>
                {% else %}
                    <p class="text-CCL-Blue">There {{ search_count|pluralize:'is,are' }} {{ search_count }} active task{{ search_count|pluralize:"s" }} with "{{ search_entered }}" in the Service Group field. <span class="text-CCL-Gold">(search type: {{ search_type }})</span></p>
                {% endif %}
{#            {% elif search_type == 'Priority' %}#}
{#                {% if search_count == 0 %}#}
{#                    <p class="text-danger">There are no tasks with "{{ search_entered }}" in the Task Priority field. <span class="text-CCL-Gold">(search type: {{ search_type }})</span></p>#}
{#                {% else %}#}
{#                    <p class="text-CCL-Blue">There {{ search_count|pluralize:'is,are' }} {{ search_count }} active task{{ search_count|pluralize:"s" }} with "{{ search_entered }}" in the Task Priority field. <span class="text-CCL-Gold">(search type: {{ search_type }})</span></p>#}
{#                {% endif %}#}
            {% elif search_type == 'Related Record' %}
                {% if search_count == 0 %}
                    <p class="text-danger">There are no tasks for the "{{ search_entered }}" Library Record. <span class="text-CCL-Gold">(search type: {{ search_type }})</span></p>
                {% else %}
                    <p class="text-CCL-Blue">There {{ search_count|pluralize:'is,are' }} {{ search_count }} active task{{ search_count|pluralize:"s" }} for the "{{ search_entered }}" Library Record. <span class="text-CCL-Gold">(search type: {{ search_type }})</span></p>
                {% endif %}
            {% endif %}
            </div>
            <div class="col-lg-3 pb-2 pt-2">
                <a href="{% url 'tasks-library' %}" class="btn btn-outline-CCL-Blue col-12">Clear Search</a>
            </div>
        </div>
    {% endif %}
    </section>

    {% endif %}

    {% if tasks_count > 0 %}
    <section class="content-section d-none d-xl-block text-CCL-Gold">
        <div class="row">
            <div class="col-lg-4 pt-2">
                <h5>Task</h5>
            </div>
            <div class="col-lg-2 pt-2">
                <h5>Service Group</h5>
            </div>
            <div class="col-lg-2 pt-2">
                <h5>Dear Soul</h5>
            </div>
            <div class="col-lg-2 pt-2">
                <h5>Status</h5>
            </div>
            <div class="col-lg-2 pt-2">
                <h5>Due Date</h5>
            </div>
        </div>
    </section>
    {% endif %}

    {% if search_off %}
        {% for task in object_list %}
            {% if task.task_status != 'Completed' %}
            <section class="list-group-item list-group-item-light text-CCL-Gold {% cycle 'row1' 'row2' %}">
                <div class="row pt-2 pb-2">
                    <div class="col-lg-4">
                        <p><a href="{% url 'task-library' task.id %}" class="text-CCL-Blue"><strong>{{ task.task_title }}</strong></a></p>
                    </div>
                    <div class="col-lg-2">
                        {{ task.assigned_service_group }}
                    </div>
                    <div class="col-lg-2">
                        {{ task.assigned_profile }}
                    </div>
                    <div class="col-lg-2">
                        {{ task.task_status }}
                    </div>
                    <div class="col-lg-2">
                        {{ task.due_date|date:"d/m/Y" }}
                    </div>
                </div>
                <div class="row"></div>
            </section>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if search_type == 'Service Group' or search_type == 'Dear Soul' or search_type == 'Priority' %}
            {% for task in tasks %}
            <section class="list-group-item list-group-item-light {% cycle 'row1' 'row2' %}">
                <div class="row pt-2 pb-2">
                    <div class="col-lg-4">
                        <p><a href="{% url 'task-library' task.id %}" class="text-CCL-Blue"><strong>{{ task.task_title }}</strong></a></p>
                    </div>
                    <div class="col-lg-2">
                        {{ task.assigned_service_group }}
                    </div>
                    <div class="col-lg-2">
                        {{ task.assigned_profile }}
                    </div>
                    <div class="col-lg-2">
                        {{ task.task_status }}
                    </div>
                    <div class="col-lg-2">
                        {{ task.due_date|date:"d/m/Y" }}
                    </div>
                </div>
            </section>
            {% endfor %}
        {% else %}
            {% for task in tasks %}
                {% if task.task_status != 'Completed' %}
                <section class="list-group-item list-group-item-light {% cycle 'row1' 'row2' %} text-CCL-Gold">
                <div class="row pt-2 pb-2">
                    <div class="col-lg-4">
                        <p><a href="{% url 'task-library' task.id %}" class="text-CCL-Blue"><strong>{{ task.task_title }}</strong></a></p>
                    </div>
                    <div class="col-lg-2">
                        {{ task.assigned_service_group }}
                    </div>
                    <div class="col-lg-2">
                        {{ task.assigned_profile }}
                    </div>
                    <div class="col-lg-2">
                        {{ task.task_status }}
                    </div>
                    <div class="col-lg-2">
                        {{ task.due_date|date:"d/m/Y" }}
                    </div>
                </div>
                </section>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    <p class="pb-2"></p>

    {% if search_off %}
    <section>
        <div class="row pt-2">
            <div class="col text-center">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-CCL-Gold btn-sm mb-4" href="?page=1">First</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-CCL-Gold btn-sm mb-4" style="-webkit-box-shadow: 0 0 0 0 rgba(57,178,189,0.00); box-shadow: 0 0 0 0 rgba(57,178,189,0.00);" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-CCL-Gold btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-CCL-Gold btn-sm mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}