{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ task.task_title }}
{% endblock %}
{% block content %}
    {% if messages %}
        <section>
            <div>
                <p class="alert-{{ message.tags }}">
                    {{ message }}
                </p>
            </div>
        </section>
    {% endif %}
    <section class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h3><strong>Task: {{ task.task_title }} </strong></h3>
            </div>
        </div>
    </section>

    <section class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-3">
                <p><strong>Priority:</strong> {{ task.task_priority }}</p>
            </div>
            <div class="col-lg-3">
                <p><strong>Status:</strong> {{ task.task_status }}</p>
            </div>
            {% if task.assigned_service_group %}
            <div class="col-lg-3">
                <p><strong>Sphere/Circle:</strong> {{ task.assigned_service_group }} </p>
            </div>
            {% endif %}
            {% if task.assigned_profile %}
            <div class="col-lg-3">
                <p><strong>Dear Soul:</strong> {{ task.assigned_profile }}</p>
            </div>
            {% endif %}
        </div>

        <div class="row">
            {% if task.due_date %}
            <div class="col-lg-3">
                <p><strong>Due date:</strong> {{ task.due_date|date:'F j, Y' }}</p>
            </div>
            {% endif %}
            {% if task.related_task %}
            <div class="col-lg-9">
                <p><strong>Library Observation task:</strong> {{ task.related_task }}</p>
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row pt-2">
        {% if object.task_type == 'Book Edit' %}
            <div class="col-lg-6">
                <h6>Task Description</h6>
                {{ task.task_description|safe }}
            </div>
            <div class="col-lg-6">
                <h6>Preceding Task Description</h6>
                {{ task.library_task_description|safe }}
            </div>
        {% else %}
            <div class="col-lg-12">
                <h6>Task Description</h6>
                {{ task.task_description|safe }}
            </div>
        {% endif %}
        </div>
        <hr>
        <div class="row pt-2">
        {% if object.task_type == 'Book Edit' %}
            <div class="col-lg-6">
                <h6>Actions Taken</h6>
                {{ task.actions_taken|safe }}
            </div>
            <div class="col-lg-6">
                <h6>Precending Actions Taken</h6>
                {{ task.library_task_actions_taken|safe }}
            </div>
        {% else %}
            <div class="col-lg-12">
                <h6>Actions Taken</h6>
                {{ task.actions_taken|safe }}
            </div>
        {% endif %}
        </div>
    </section>
    <section class="content-section">
        <div class="row">
            <div class="col-lg-3 pt-2 pb-2">
                <a href="{% url 'tasks-library' %}" class="btn btn-outline-CCL-Blue col-12">Back to Library Tasks</a>
            </div>
            <div class="col-lg-3 pt-2 pb-2">
                <a href="{% url 'task-update-library' task.id %}" class="btn btn-CCL-Blue col-12">Edit Library Task</a>
            </div>
            <div class="col-lg-3 pt-2 pb-2">
                <a href="{% url 'task-create-library' %}" class="btn btn-CCL-Blue col-12">Add A Library Task</a>
            </div>
            {% if user.is_superuser %}
            <div class="col-lg-3 pt-2 pb-2">
                <a href="{% url 'task-delete-library' task.id %}" class="btn btn-outline-danger col-12">Delete Library Task</a>
            </div>
            {% endif %}
        </div>
    </section>
    <section class="content-section">
        <div class="row">
            <div class="col-lg-9 pt-2">
                <h5>Task history log:</h5>
            </div>
            <div class="col-lg-3 pt-2 text-CCL-Gold">
                <p><strong>Created:</strong> {{ task.task_created_date|date:'F j, Y' }}</p>
            </div>
        <div class="row">
            <div class="col-lg-12 pt-2 text-CCL-Gold">
            {{ task.task_history_log|safe }}
            </div>
        </div>
    </section>
{% endblock %}