{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {% if page_type == 'Update' %}
        Edit Task
    {% else %}
        Create A Task
    {% endif %}
{% endblock %}
{% block content %}
    <section class="media content-section">
    {% if page_type == 'Update' %}
        <h3><strong>Edit Task: {{ task.task_title }}</strong> </h3>
    {% else %}
        <h3><strong>Create A Task</strong></h3>
    {% endif %}
    {% if form.errors %}
        <article class="media content-section-danger alert-section">
            <div>
            <p class="alert-danger">Please review the following:</p>
                <ul>
                {% for key, value in form.errors.items %}
                    {% for error in value %}
                        {% if error != '' %}
                            <li class="alert-danger">{{ error }}</li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
        </article>
    {% endif %}
    {% if page_type == 'Update' %}
        <div class="row pt-2">
            <div class="col-lg-12">
                <h6><strong>Description</strong></h6>
            </div>
        </div>
        <div class="row pb-2">
            {% if task.task_type == '---' %}
                <div class="col-lg-12">
                    {{ task.task_description |linebreaksbr }}
                </div>
            {% else %}
                <div class="col-lg-12">
                    {{ task.task_description |safe }}
                </div>
            {% endif %}
        </div>
    <hr>
    {% endif %}

        <form method="post" action="" enctype="multipart/form-data" class="pb-2">
            {% csrf_token %}
            {{ form.media }}
    {#        {{ form|crispy }}#}
            {% if task.task_type != 'Prepayment' %}
            <div class="row">
                <div class="col-lg-12">
                    {{ form.task_title|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form.task_description|as_crispy_field }}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-3">
                    {{ form.task_priority|as_crispy_field }}
                </div>
                <div class="col-lg-3">
                    {{ form.task_status|as_crispy_field }}
                </div>
                <div class="col-lg-3">
                    {{ form.assigned_team|as_crispy_field }}
                </div>
                {% if user.is_staff %}
{#                    DONE Make assigned_user field for a task only show staff #}
                <div class="col-lg-3">
                    {{ form.assigned_user|as_crispy_field }}
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ form.due_date|as_crispy_field }}
                </div>
            </div>
        <div class="row pt-4">
            <div class="col-sm-12">
                <a href="{% url 'tasks' %}" class="btn btn-outline-BlueGray col-sm-3">Back to Tasks</a>
                {% if page_type == 'Update' %}
                    <input type="submit" value="Update Task" class="btn btn-success float-end col-sm-3">
                {% else %}
                    <input type="submit" value="Add Task" class="btn btn-success float-end col-sm-3">
                {% endif %}
            </div>
        </div>
        </form>
    </section>
{% endblock %}