{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="content-section">
        <div class="row">
            <div class="col-lg-12 pt-2">
                <h3><strong>{{ title }}</strong></h3>

            </div>
        </div>
    </section>
    <section class="content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-6">
                {% if completed_tasks_count > 0 %}
                    <p>There {{ completed_tasks_count|pluralize:"is,are" }} currently {{ completed_tasks_count|intcomma }} completed Library task{{ completed_tasks_count|pluralize:"s" }}.</p>
                {% else %}
                    <p>There are currently no completed Library tasks.</p>
                {% endif %}
            </div>
            <div class="col-lg-6">
                {% if active_tasks_count == 0 %}
                    <p>There are currently no <a class="text-CCL-Blue" href="{% url 'tasks-library' %}">active Library tasks</a>.</p>
                {% elif active_tasks_count > 0 %}
                    <p>There {{ active_tasks_count|pluralize:"is,are" }} currently <a class="text-CCL-Blue" href="{% url 'tasks-library' %}">{{ active_tasks_count|intcomma }} active Library task{{ active_tasks_count|pluralize:"s" }}</a>.</p>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="content-section d-none d-xl-block text-CCL-Gold">
        <div class="row">
            <div class="col-lg-3">
                <h5><strong>Task</strong></h5>
            </div>
            <div class="col-lg-3">
                <h5><strong>Date Completed</strong></h5>
            </div>
            <div class="col-lg-6">
                <h5><strong>Actions Taken</strong></h5>
            </div>
        </div>
    </section>
    {% for task in tasks %}
    <section class="list-group-item list-group-item-light {% cycle 'row1' 'row2' %} text-CCL-Gold">
        <div class="row pt-2 pb-2">
            <div class="col-lg-3">
                <p><a href="{% url 'task-library' task.id %}" class="text-CCL-Blue"><strong>{{ task.task_title }}</strong></a>
            </div>
            <div class="col-lg-3">
                {{ task.date_completed|date:"d/m/Y" }}
            </div>
            <div class="col-lg-6">
                {{ task.actions_taken|safe }}
            </div>
        </div>
    </section>
    {% endfor %}
    <p class="pb-2"></p>
{% endblock %}