{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {% if page_type == 'Update' %}
        Edit Library Task
    {% else %}
        Add A Library Task
    {% endif %}
{% endblock %}

{% block script_header %}
    <script>
        $(document).ready(function() {
          $('#id_task_status').change(function() {
            if ($(this).val() === "Completed") {
              $('#div_id_book_text_impacted').show();
            }
            else {
              $('#div_id_book_text_impacted').hide();
            }
          });
          $("#id_task_status").trigger("change")
        })
    </script>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <article class="content-section-danger alert-section">
            <div>
            <p class="alert-danger">Please review the following:</p>
                <ul>
                {% for key, value in form.errors.items %}
                    {% for error in value %}
                        {% if error != '' %}
                            <li class="alert-danger">{{ error }}</li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
        </article>
    {% endif %}

    <section class="content-section pt-2">
    {% if page_type == 'Update' %}
        <h3><strong>Edit Task: {{ task.task_title }}</strong> </h3>
    {% else %}
        <h3><strong>Add A Task</strong></h3>
    {% endif %}
    </section>

    <section class="content-section text-CCL-Gold">
        <form method="post" action="" enctype="multipart/form-data" class="pb-2">
            {% csrf_token %}
            {{ form.media}}
            <div class="row">
                <div class="col-lg-12">
                    {{ form.task_title|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    {{ form.task_priority|as_crispy_field }}
                </div>
                <div class="col-lg-3">
                    {{ form.task_status|as_crispy_field }}
                </div>
                <div class="col-lg-3">
                    {{ form.due_date|as_crispy_field }}
                </div>
                <div class="col-lg-3">
                    {{ form.assigned_profile|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form.task_description|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    {{ form.actions_taken|as_crispy_field }}
                </div>
                <div class="col-lg-4">
                    {{ form.book_text_impacted|as_crispy_field }}
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-lg-12">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-CCL-Blue col-lg-3">Back</a>
                    {% if page_type == 'Update' %}
                        <input type="submit" value="Update Library Task" class="btn btn-CCL-Blue float-end col-lg-3">
                    {% else %}
                        <input type="submit" value="Add Library Task" class="btn btn-CCL-Blue float-end col-lg-3">
                    {% endif %}
                </div>
            </div>
        </form>
    </section>
{% endblock %}