{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="content-section">
        <div class="row">
            <div class="col-lg-12">
                <h3><strong>{{ title }}</strong></h3>

            </div>
        </div>
    </section>
    <section class="content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-12">
                {% if completed_tasks_count > 0 %}
                    <p>You currently have {{ completed_tasks_count|intcomma }} completed task{{ completed_tasks_count|pluralize:"s" }}.</p>
                {% else %}
                    <p>You currently have no completed tasks.</p>
                {% endif %}
                {% if tasks_count == 0 %}
                    <p>You currently have no <a class="text-CCL-Blue" href="{% url 'tasks' %}">active tasks</a>.</p>
                {% elif tasks_count > 0 %}
                    <p>You also have <a class="text-CCL-Blue" href="{% url 'tasks' %}">{{ tasks_count|intcomma }} active task{{ tasks_count|pluralize:"s" }}</a>.</p>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="content-section d-none d-xl-block">
        <div class="row">
            <div class="col-lg-3">
                <p><strong>Task</strong></p>
            </div>
            <div class="col-lg-3">
                <h5><strong>Date Completed</strong></h5>
            </div>
            <div class="col-lg-6">
                <h5><strong>Actions Taken</strong></h5>
            </div>
        </div>
    </section>
    {% for task in tasks %}
    <section class="list-group-item list-group-item-light {% cycle 'row1' 'row2' %} text-CCL-Gold">
        <div class="row pt-2 pb-2">
            <div class="col-lg-3">
                <p><a href="{% url 'task-library' task.id %}" class="text-CCL-Blue"><strong>{{ task.task_title }}</strong></a>
            </div>
            <div class="col-lg-3">
                {{ task.date_completed|date:"d/m/Y" }}
            </div>
            <div class="col-lg-6">
                {{ task.actions_taken|safe }}
            </div>
        </div>
    </section>
    {% endfor %}
    <p class="pb-2"></p>
{% endblock %}