{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="content-section text-CCL-Gold">
        <h3 class="pt-2">{{ title }}</h3>
    </section>
    <section class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-12">
                <p>{{unsub_message}}</p>
                <p>Love and Blessings,<br>the Elemental Grace Alliance.</p>
            </div>
        </div>
    </section>
{% endblock %}