{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Cosmic Christ Love: Password Reset Complete{% endblock %}
{% block content %}
    <div class="alert alert-success">
        Your password has been reset.
    </div>
    <article class="media content-section">
        <div class="media-body">
            <h3 class="mb-2"><strong>Log In To Whurthy</strong></h3>
        </div>
    </article>
    <div class="content-section text-CCL-Gold">
        <div class="form-group pt-4 pb-2">
           <a href="{% url 'login' %}" class="text-CCL-Blue">Log In Here</a>
        </div>
    </div>
{% endblock content %}
