{% extends 'base.html' %}
{% load index %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <article class="content-section">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h3>{{ title }}</h3>
            </div>
        </div>
    </article>
    <article class="content-section">
        <form method="get">
            <div class="row pt-2">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-outline-CCL-Blue col-12">Search Profiles</button>
                </div>
                <div class="col-lg-3 pb-2">
                    <select name="search-area" class="form-control">
                        <option value="">by Dear Soul</option>
                        {% for dear_soul in dear_souls %}
                        <option value='{{ dear_soul }}'>{{ dear_soul }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if not search_off %}
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <a href="{% url 'profiles' %}" class="btn btn-outline-CCL-Blue col-12 float-end">Clear Search</a>
                </div>
                {% endif %}
            </div>
        </form>
    </article>

    {% for profile in profiles %}
    <article class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h5><strong>Profile for <a class="text-CCL-Blue" href="{% url 'profile-dear-soul' profile.id profile.user_id %}">{{ profile.spiritual_name }}</a></strong></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p><strong>Location:</strong> {{ profile.state_province_county }}, {{ profile.country }}</p>
            </div>
            <div class="col-lg-3">
                <p><strong>Notification Preference:</strong> {{ profile.notification_preference }}</p>
            </div>
            <div class="col-lg-3">
                <p><strong>Email:</strong> {{ profile.user.email }}</p>
            </div>
            {% if profile.phone %}
            <div class="col-lg-3">
                <p><strong>Phone:</strong> {{ profile.phone }}</p>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h6><strong>Engagement</strong></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p><strong>Records on Reading List:</strong> {{ reading_progress_by_profile_count|index:forloop.counter0 }}</p>
            </div>
        </div>
    </article>
    {% endfor %}
{% endblock content %}
