{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h4 class="article-title pb-2 pt-2">
                <strong>Profile for {{ profile.first_name }} {{ profile.last_name }} </strong>
            </h4>
        </div>
    </article>
    <article class="media content-section text-CCL-Gold">
        <div class="media-body">
            <h5 class="article-title pb-2 pt-2">
                <strong>Contact Details</strong>
            </h5>
            <div class="row">
                <div class="col-sm-4">
                    <p class="article-content"><strong>Pronoun:</strong> {{ profile.pronoun }}</p>
                </div>
                <div class="col-sm-4">
                    <p class="article-content"><strong>First Name:</strong> {{ profile.first_name }}</p>
                </div>
                <div class="col-sm-4">
                    <p class="article-content"><strong>Last Name:</strong> {{ profile.last_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <p class="article-content"><strong>Address:</strong>
                    {{ profile.address_1 }}{% if profile.address_2 %}, {{ profile.address_2 }}{% endif %}
                    {{ profile.city }}, {{ profile.state_province_county }}
                    {{ profile.postal_zip_code }}
                    {{ profile.country }}</p>
                </div>
                <div class="col-sm-4">
                    <p class="article-content"><strong>Phone:</strong> {{ profile.phone }}</p>
                    <p class="article-content"><strong>Email:</strong> {{ profile.user.email }}</p>
                </div>
                <div class="col-sm-4">
                    <p class="article-content"><strong>Notification preference:</strong> {{ profile.notification_preference }}</p>
                </div>
            </div>

            <div class="row pb-2">
                <div class="col-sm-3">
                        <a href="{% url 'profiles' %}" class="btn btn-outline-BlueGray col-12">Back To Profiles</a>
                </div>
            </div>
        </div>
    </article>
    <section class="media content-section">
        <div class="row">
            <div class="col-sm-12">
            <h5 class="article-title pb-2 pt-2">
                <strong>Event Booking</strong>
            </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    You can book an event on behalf of {{ profile.first_name }} by clicking the Book An Event button.
                    This will allow you to view all the events that they can book, can cancel, and if available to book an event for them.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 pb-2">
                <a class="btn btn-BlueGray col-12" href="{% url 'event-booking-for-customer' user_id %}">Book An Event</a>
            </div>
        </div>
    </section>
    {% if profile.loyalty_tier == 'VIP' %}
    <article class="media content-section border-success">
    {% elif profile.loyalty_tier == 'Member' %}
    <article class="media content-section border-BlueGray">
    {% else %}
    <article class="media content-section">
    {% endif %}
        <h5 class="article-title pb-2 pt-2">
            <strong>Loyalty History</strong>
        </h5>
        <div class="row">
            <div class="col-sm-4">
                <p class="article-content">Guest events booked: {{ profile.total_promo_booked }}</p>
                {% if profile.total_promo_booking_cancellations > 0 %}
                    <p class="article-content text-danger small">Guest booking cancellations: {{ profile.total_promo_booking_cancellations }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <p class="article-content">Guest events paid: {{ profile.total_promo_paid }}</p>
                {% if profile.total_promo_paid_cancellations > 0 %}
                    <p class="article-content text-danger small">Guest paid cancellations: {{ profile.total_promo_paid_cancellations }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <p class="article-content">Guest event revenue: {{ profile.total_promo_revenue }}</p>
                {% if profile.total_promo_cancel_cost.amount > 0 %}
                    <p class="article-content text-danger small">Guest cancellation cost: {{ profile.total_promo_cancel_cost }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="article-content">Member events booked: {{ profile.total_regular_booked }}</p>
                {% if profile.total_regular_booking_cancellations > 0 %}
                    <p class="article-content text-danger small">Member booking cancellations: {{ profile.total_regular_booking_cancellations }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <p class="article-content">Member events paid: {{ profile.total_regular_paid }}</p>
                {% if profile.total_regular_paid_cancellations > 0 %}
                    <p class="article-content text-danger small">Member paid cancellations: {{ profile.total_regular_paid_cancellations }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <p class="article-content">Member event revenue: {{ profile.total_regular_revenue }}</p>
                {% if profile.total_regular_cancel_cost.amount > 0 %}
                    <p class="article-content text-danger small">Member cancellation cost: {{ profile.total_regular_cancel_cost }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="article-content">VIP events booked: {{ profile.total_VIP_booked }}</p>
                {% if profile.total_VIP_booking_cancellations > 0 %}
                    <p class="article-content text-danger small">VIP booking cancellations: {{ profile.total_VIP_booking_cancellations }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <p class="article-content">VIP events paid: {{ profile.total_VIP_paid }}</p>
                {% if profile.total_VIP_paid_cancellations > 0 %}
                    <p class="article-content text-danger small">VIP paid cancellations: {{ profile.total_VIP_paid_cancellations }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <p class="article-content">VIP event revenue: {{ profile.total_VIP_revenue }}</p>
                {% if profile.total_VIP_cancel_cost.amount > 0 %}
                    <p class="article-content text-danger small">VIP cancellation cost: {{ profile.total_VIP_cancel_cost }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            {% if profile.loyalty_tier == 'VIP' %}
                <span class="article-content text-success"><strong>Loyalty tier: {{ profile.loyalty_tier }}</strong> </span>
            {% elif profile.loyalty_tier == 'Member' %}
                <span class="article-content text-BlueGray"><strong>Loyalty tier: {{ profile.loyalty_tier }}</strong> </span>
            {% else %}
                <span class="article-content"><strong>Loyalty tier: {{ profile.loyalty_tier }}</strong> </span>
            {% endif %}
            </div>
            <div class="col-sm-4">
                <p class="article-content"><strong>Loyalty counter:</strong> {{ profile.loyalty_counter }}</p>
        </div>
            <div class="col-sm-4">
                <p class="article-content"><strong>Total revenue:</strong> {{ profile.total_paid_revenue }}</p>
            </div>
        </div>
    </article>
    <article class="media content-section pb-4">
        <h5 class="article-title pb-2 pt-2">
            <a href="{% url 'events-staff' %}" class="text-BlueGray">Event Bookings</a>
        </h5>
        {% for event_booking in event_bookings %}
            <span class="list-group-item list-group-item-light pb-2 pt-2 {% cycle 'row1' 'row2' %}">
            {% if event_booking.booking_status == 'Cancelled' %}
                <span class="small">Booking Status: {{ event_booking.booking_status }}</span><br>
                <a class="small text-danger" href="{% url 'event-booking-detail' event_booking.id %}">{{ event_booking.booking_reference }}</a>
            {% elif event_booking.booking_status == '3) Paid' or event_booking.booking_status == '4) Complete' %}
                <span class="small">Booking Status: {{ event_booking.booking_status }}</span><br>
                <a class="text-success" href="{% url 'event-booking-detail' event_booking.id %}">{{ event_booking.booking_reference }}</a>
            {% else %}
                <span class="small">Booking Status: {{ event_booking.booking_status }}</span><br>
                <a class="text-BlueGray" href="{% url 'event-booking-detail' event_booking.id %}">{{ event_booking.booking_reference }}</a>
            {% endif %}
            </span>
        {% endfor %}
    </article>
    <article class="media content-section pb-4">
        <h5 class="article-title pb-2 pt-2">
            <strong>Wait List Entries</strong>
        </h5>
        {% for entry in wait_list %}
            <span class="list-group-item list-group-item-light pb-2 pt-2 {% cycle 'row1' 'row2' %}">
            {% if entry.wait_list_entry_status == '1) Entry Created' %}
                <span class="small">Wait List Entry Status: {{ entry.wait_list_entry_status }}</span><br>
                <a class="text-BlueGray" href="{% url 'wait-list-detail' entry.id user_id %}">{{ entry.wait_list_reference }}</a>
            {% elif entry.wait_list_entry_status == '2) Entry Fulfilled' %}
                <span class="small">Wait List Entry Status: {{ entry.wait_list_entry_status }}</span><br>
                <a class="text-success" href="{% url 'wait-list-detail' entry.id user_id %}">{{ entry.wait_list_reference }}</a>
            {% else %}
                <span class="small">Wait List Entry Status: {{ entry.wait_list_entry_status }}</span><br>
                <a class="text-danger" href="{% url 'wait-list-detail' entry.id user_id %}">{{ entry.wait_list_reference }}</a>
            {% endif %}
            </span>
        {% endfor %}
    </article>
    <article class="media content-section pb-4">
        <h5 class="article-title pb-2 pt-2">
            <a href="{% url 'support-home' %}" class="text-BlueGray">Support Requests</a>
        </h5>
        {% for ticket in user_support_tickets %}
        <span class="list-group-item list-group-item-light pb-2 pt-2 {% cycle 'row1' 'row2' %}">
        {% if ticket.support_ticket_status == '1) General Request' or ticket.support_ticket_status == '2) Technical Support' or ticket.support_ticket_status == '3) Expert Technical Support' or ticket.support_ticket_status == 'Request Resolved' %}
        <span class="small">Support Request Status: {{ ticket.support_ticket_status }}</span><br>
        <a class="text-BlueGray" href="{% url 'support-request-entry' ticket.id %}">{{ ticket.question }}</a>
        {% else %}
        <span class="small">Support Request Status: {{ ticket.support_ticket_status }}</span><br>
        <a class="text-BlueGray" href="{% url 'support-request-entry' ticket.id %}">{{ ticket.question }}</a>
        {% endif %}
        </span>
        {% endfor %}
    </article>
{% endblock content %}
