{% extends 'base.html' %}
{% load humanize %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <article class="content-section">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h3>
                    <strong>Profile for {{ profile.spiritual_name }} </strong>
                </h3>
            </div>
        </div>
    </article>
    <article class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-3">
                <p><strong>Spiritual Name:</strong> {{ profile.spiritual_name }}</p>
            </div>
{#            <div class="col-lg-3">#}
{#                <p><strong>Pronoun:</strong> {{ profile.pronoun }}</p>#}
{#            </div>#}
            <div class="col-lg-3">
                <p><strong>Given First Name:</strong> {{ profile.given_first_name }}</p>
            </div>
            <div class="col-lg-3">
                <p><strong>Given Last Name:</strong> {{ profile.given_last_name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p><strong>Address:</strong>
                {% if profile.address_1 %}{{ profile.address_1 }}{% endif %}{% if profile.address_2 %}, {{ profile.address_2 }}{% endif %}
                {{ profile.city }}, {{ profile.state_province_county }}
                {{ profile.postal_zip_code }}
                {{ profile.country }}</p>
            </div>
            <div class="col-lg-3">
                <p><strong>Email:</strong> {{ profile.user.email }}</p>
                <p><strong>Phone:</strong> {{ profile.phone }}</p>
            </div>
            <div class="col-lg-3">
                <p><strong>Notification preference:</strong> {{ profile.notification_preference }}</p>
            </div>
        </div>
    </article>
    <article class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h5><strong>Library Records Read Summary</strong></h5>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-lg-2">
                Last day:{{ records_read_last_1|intcomma }}
            </div>
            <div class="col-lg-2">
                Last week:{{ records_read_last_7|intcomma }}
            </div>
            <div class="col-lg-2">
                Last month:{{ records_read_last_30|intcomma }}
            </div>
            <div class="col-lg-2">
                Last qtr:{{ records_read_last_91|intcomma }}
            </div>
            <div class="col-lg-2">
                Last year:{{ records_read_last_365|intcomma }}
            </div>
            <div class="col-lg-2">
                All time:{{ records_read_all|intcomma }}
            </div>
        </div>
    </article>
    <article class="content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-lg-12">
                <h5><strong>Reading List ({{ reading_list_count }})</strong></h5>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-lg-12">
            {% for entry in reading_list %}
                <span class="list-group-item list-group-item-light pb-2 pt-2 {% cycle 'row1' 'row2' %}">
                <span class="small">Reading progress: {{ entry.reading_progress }}</span><br>
                <span class="text-CCL-Gold">{{ entry.record }}</span>
                </span>
            {% endfor %}
            </div>
        </div>
    </article>
    <article class="content-section text-CCL-Gold">
        <div class="row pt-2 pb-2">
            <div class="col-lg-3">
                <a href="{% url 'profiles' %}" class="btn btn-outline-CCL-Blue col-12">Back to Profiles</a>
            </div>
        </div>
    </article>
{% endblock content %}
