{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Your Cosmic Christ Love Profile{% endblock %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h3 class="mb-2 pt-2"><strong>My Cosmic Christ Love Profile</strong></h3>
        </div>
    </article>
    {% if profile_form.errors %}
    <article class="media content-section alert-section">
        <div>
        <p class="alert-danger">Please review the form below. A phone number is required for text message notifications.</p>
        </div>
    </article>
    {% endif %}
    <div class="content-section text-CCL-Gold">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            <fieldset class="form-group">
{#                        {{ user_form|crispy }}#}
                <div class="row">
                    <div class="col-lg-6">
                        {{ user_form.username|as_crispy_field }}
                    </div>
                    <div class="col-lg-6">
                        {{ user_form.email|as_crispy_field }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-lg-3">
                        {{ profile_form.pronoun|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.spiritual_name|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.given_first_name|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.given_last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ profile_form.bio|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        {{ profile_form.address_1|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.address_2|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        {{ profile_form.city|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.state_province_county|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.postal_zip_code|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.country|as_crispy_field }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-lg-3">
                        {{ profile_form.phone|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.notification_preference|as_crispy_field }}
                    </div>
                </div>
            </fieldset>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group pt-4 pb-2">
                    <button class="btn btn-CCL-Blue col-12" type="submit">Update My Profile</button>
                </div>
            </div>
        </div>
        </form>
        <div class="row pt-4 pb-2">
            <small class="text-muted">
                Do you want to reset your password? <a href="{% url 'password_reset' %}" class="ml-2 text-CCL-Blue">Reset your password</a>
            </small>
        </div>
    </div>
{% endblock content %}
