{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Register with Cosmic Christ Love{% endblock %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h3 class="mb-2 pt-2"><strong>Register With Cosmic Christ Love</strong></h3>
        </div>
    </article>
    <div class="content-section text-CCL-Gold">
    {% if form.errors or profile_form.errors %}
        <article class="media content-section alert-section">
            <div>
            <p class="alert-danger">Please review the following:</p>
                <ul>
                {% for key, value in form.errors.items %}
                    {% for error in value %}
                        {% if error != '' %}
                            <li class="alert-danger">{{ error }}</li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% for key, value in profile_form.errors.items %}
                    {% for error in value %}
                        {% if error != '' %}
                            <li class="alert-danger">{{ error }}</li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
        </article>
    {% endif %}
        <form method="post" action="" enctype="multipart/form-data" class="pb-2 text-CCL-Gold">
            {% csrf_token %}
            {{ form.media }}
            <fieldset class="form-group">
{#                {{ user_form|crispy }}#}
                <div class="row">
                    <div class="col-lg-6">
                        {{ user_form.username|as_crispy_field }}
                    </div>
                    <div class="col-lg-6">
                        {{ user_form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        {{ user_form.password1|as_crispy_field }}
                    </div>
                    <div class="col-lg-6">
                        {{ user_form.password2|as_crispy_field }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-lg-3">
                        {{ profile_form.spiritual_name|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.pronoun|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.given_first_name|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.given_last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ profile_form.bio|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        {{ profile_form.address_1|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.address_2|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        {{ profile_form.city|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.state_province_county|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.postal_zip_code|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ profile_form.country|as_crispy_field }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-lg-3">
                        {{ profile_form.phone|as_crispy_field }}
                    </div>
                    <div class="col-lg-9">
                        {{ profile_form.notification_preference|as_crispy_field }}
                    </div>
                </div>

            </fieldset>
            <div class="row pt-4 pb-2">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <button class="btn btn-CCL-Blue col-12" type="submit">Register</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="pt-3">
            <small class="text-muted">
                Already have an account? <a href="{% url 'login' %}" class="ml-2 text-CCL-Blue">Log In</a>
            </small>
        </div>
    </div>
{% endblock content %}
