{% load static %}
{% load in_group %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
{#    <link rel="icon" href="{% static 'CCL_Library/favicon-32x32.png' %}"/>#}
{#    <link rel="icon" href="https://ega.s3.us-east-2.amazonaws.com/ccl-library-static/favicon-32x32.png"/>#}
    <link rel="icon" href="https://cdn.cosmicchrist.love/ccl-library-static/CCL_Library/favicon-32x32.png"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Local CSS -->
{#    <link rel="stylesheet" type="text/css" href="{% static 'CCL_Library/main_ccl.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="https://ega.s3.us-east-2.amazonaws.com/ccl-library-static/main_ccl.css">#}
    <link rel="stylesheet" type="text/css" href="https://cdn.cosmicchrist.love/ccl-library-static/CCL_Library/main_ccl.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">

    <!-- DateTimePicker -->
    {% load bootstrap4 %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>

    <!--Tinymce Text-Editor -->
    <script>
        tinyMCE.init({
            {#document_base_url : "https://ega.s3.us-east-2.amazonaws.com/ccl-library-static/",#}
            document_base_url : "https://cdn.cosmicchrist.love/ccl-library-static/CCL_Library/",
            relative_urls : true,

            {#plugins: "tinydrive advlist autolink lists link image charmap print preview anchor searchreplace visualblocks fullscreen insertdatetime media table paste code help wordcount",#}
            {#toolbar: "undo redo | bold italic underline strikethrough | formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment code",#}
            {#tinydrive_dropbox_app_key: "xwoqkus0i9wv6xm",#}
            {#tinydrive_token_provider: "https://cdn.tiny.cloud/1/d2017cn3mqxixr59z4dysynbvflj0zttoka4r0i0jus7s948/tinymce/6/tinymce.min.js",#}
        });
    </script>

    <!-- Inherited in-page script content block for script headers -->
    {% block script_header %}{% endblock %}

</head>
<body class="masthead">
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-xxl">
                <!-- Navbar Logo -->
                <a class="navbar-brand text-CCL-Gold pt-3" href="{% url 'home' %}"><strong>Cosmic Christ Love</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!-- Navbar Left Side -->
                    <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="dropdown pe-4 pt-2">
                            <a class="nav-link-gold dropdown-toggle navbarDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Library
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'reading-list' %}">Reading List</a>
                                <hr>
                                <a class="dropdown-item" href="{% url 'true-constitution' %}">Collection: True Constitution</a>
                                <a class="dropdown-item" href="{% url 'i-am-freedom' %}">Collection: 'I AM' Freedom</a>
                                <a class="dropdown-item" href="{% url 'enaca' %}">Collection: ENACA</a>
                                <a class="dropdown-item" href="{% url 'gesara' %}">Collection: GESARA</a>
                                <hr>
                                <a class="dropdown-item" href="{% url 'discourses' %}">Discourses</a>
                                <a class="dropdown-item" href="{% url 'cosmic-reviews' %}">Cosmic Reviews</a>
                                <a class="dropdown-item" href="{% url 'invocations' %}">Invocations</a>
                                <a class="dropdown-item" href="{% url 'petitions' %}">Petitions</a>
                                <a class="dropdown-item" href="{% url 'books' %}">Books</a>
                            </div>
                        </li>
                        {% if request.user|in_group:"Librarians" or request.user|in_group:"Book Editors" %}
                        <li class="dropdown pe-4 pt-2">
                            <a class="nav-link-gold  dropdown-toggle navbarDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Library Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'tasks-library' %}">Library Tasks</a>
                                <a class="dropdown-item" href="{% url 'librarian-training' %}">Training Videos</a>
                                <hr>
                                <a class="dropdown-item" href="{% url 'library-records' %}">Records</a>
                                <a class="dropdown-item" href="{% url 'collections' %}">Collections</a>
                                <a class="dropdown-item" href="{% url 'discourse-series' %}">Series</a>
                                <a class="dropdown-item" href="{% url 'masters' %}">Masters</a>
                                <a class="dropdown-item" href="{% url 'tags' %}">Tags</a>
                            </div>
                        </li>
                        {% endif %}
                        {% if user.is_staff or request.user|in_group:"Email Campaigner" %}
                        <li class="dropdown pe-4 pt-2">
                            <a class="nav-link-gold  dropdown-toggle navbarDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              IAMOWN
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'tasks' %}">Tasks</a>
                                <hr>
                                <a class="dropdown-item" href="{% url 'email-campaigns' %}">Email Campaigns</a>
                                <a class="dropdown-item" href="{% url 'mailing-list' %}">Mailing List</a>
                                <a class="dropdown-item" href="{% url 'audiences' %}">Audiences</a>
                                <hr>
                                <a class="dropdown-item" href="{% url 'service-groups' %}">Service Groups</a>
                                <a class="dropdown-item" href="{% url 'profiles' %}">Profiles</a>
                        </li>
                        {% endif %}
                        {% if user.is_superuser %}
                        <li class="dropdown pe-4 pt-2">
                            <a class="nav-link-gold  dropdown-toggle navbarDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'lee' %}">LEE</a>
                                <a class="dropdown-item" href="{% url 'peeps' %}">PEePs</a>
                                <a class="dropdown-item" href="{% url 'release-notes' %}">Release Notes</a>
                                <hr>
                                <a class="dropdown-item" href="{% url "admin:index" %}">Django Admin</a>
                            </div>
                        </li>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="navbar-nav">
                        <li class="dropdown pe-4 pt-2">
                            <a class="nav-link-gold dropdown-toggle navbarDropdownMenuLink" href="{% url 'discourses' %}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Collections
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'true-constitution' %}">True Constitution</a>
                                <a class="dropdown-item" href="{% url 'i-am-freedom' %}">'I AM' Freedom</a>
                                <a class="dropdown-item" href="{% url 'enaca' %}">ENACA</a>
                                <a class="dropdown-item" href="{% url 'gesara' %}">GESARA</a>
                            </div>
                        </li>
                        <a class="nav-link-gold pe-4 pt-2" href="{% url 'discourses' %}" aria-expanded="false">
                          EGA Discourses
                        </a>
                        <a class="nav-link-gold pe-4 pt-2" href="{% url 'invocations' %}" aria-expanded="false">
                          Invocations
                        </a>
                        <a class="nav-link-gold pe-4 pt-2" href="{% url 'petitions' %}" aria-expanded="false">
                          Petitions
                        </a>
                        <a class="nav-link-gold pe-4 pt-2" href="{% url 'cosmic-reviews' %}" aria-expanded="false">
                          Cosmic Reviews
                        </a>
                    </div>
                    {% endif %}
                    <!-- Navbar Right Side -->
                    {% if user.is_authenticated %}
                    <div class="navbar-nav ms-auto">
{#                        <span class="pt-2"><a class="nav-link-gold d-none d-xl-block text-decoration-none pt-2 pe-4" href="{% url 'search' %}">Search</a></span>#}
{#                        <a class="nav-link-gold d-xl-none pt-2 pe-4" href="{% url 'search' %}">Search</a>#}  <!-- Mobile link -->
                        <a class="nav-link-gold pt-2 pe-4" href="{% url 'search' %}">Search</a>
                        <li class="dropdown pt-2">
                            <a class="nav-link-gold dropdown-toggle navbarDropdownMenuLink" href="{% url 'profile' %}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              My Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                                <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
{#                        <span class="ps-2 pt-2"><a class="nav-link-gold ps-sm-4 d-none d-xl-block text-decoration-none pt-1" href="{% url 'logout' %}">Logout</a></span>#}
{#                        <a class="nav-link-gold d-xl-none pt-1" href="{% url 'logout' %}">Logout</a>#}
                    </div>
                    {% else %}
                    <div class="navbar-nav ms-auto">
{#                        <a class="nav-link-gold d-none d-xl-block text-decoration-none ms-auto ps-2 pt-2" href="{% url 'search' %}">Search</a>#}
{#                        <a class="nav-link-gold d-xl-none pt-1 ms-auto" href="{% url 'search' %}">Search</a>#}
                        <a class="nav-link-gold pt-2" href="{% url 'search' %}">Search</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <!-- Footer -->
<footer class="bg-BlueGray text-center text-white">
    <div class="container p-4">
        <section>
            <div class="row">
{#                <div class="col-lg-3 col-md-6 mb-4 mb-md-0"></div>#}
{#                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">#}
{#                    <a class="nav-item nav-link footer-nav nav-link-gold" href="{% url 'contact' %}">Contact</a>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">#}
{#                    <a class="nav-item nav-link footer-nav nav-link-gold" href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=KA2QBBFR7VADW" target="_blank">Donation</a>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">#}
{#                    <a class="nav-item nav-link footer-nav nav-link-gold" href="#">Newsletter</a>#}
{#                </div>#}

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0"></div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="nav-item nav-link footer-nav nav-link-gold" href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=KA2QBBFR7VADW" target="_blank">Donation</a>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="nav-item nav-link footer-nav nav-link-gold" href="{% url 'subscribe' %}">Newsletter</a>
{#                    <a class="nav-item nav-link footer-nav nav-link-gold" href="#">Newsletter</a>#}
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0"></div>
            </div>
            <div class="row pt-4">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0"></div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
{#                    <img src="https://django-whurthy.s3.us-west-1.amazonaws.com/whurthy-static/paypal-icon.png.jpeg" alt="Donate" class="img-fluid pb-2" width="50%">#}
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-6 mb-4 mb-md-0">
                    <p class="text-CCL-Gold">CosmicChrist.Love is not a commercial site or business. All information shared on this website is for Educational Purposes only.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0"></div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
{#                    <p class="text-white">©{{ year }} Copyright: Elemental Grace Alliance</p>#}
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0"></div>
            </div>
        </section>
    </div>
</footer>
<!-- Footer -->

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- HTMX - looks for the htmx configRequest event and adds a CSFR Token (context variable) to the header -->
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>