{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="media content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-12 pt-2">
                <h3><strong>{{ title }} </strong></h3>
            </div>
        </div>
    </section>
    <section class="media content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-12 pt-2 pb-2">
                <h5><strong>How to Make the Most of Search</strong></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/717595208?h=d823360640" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="media content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-12 pt-2 pb-2">
                <h5><strong>Librarian Training - Part 1 - Record Observation ServiceFlow</strong></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/728664177?h=a61e41af08" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    
    <section class="media content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-3 pt-2 pb-2">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-CCL-Blue col-12">Back</a>
            </div>
            <div class="col-lg-6 pt-2 pb-2"></div>
            <div class="col-lg-3 pt-2 pb-2">
                <a href="{% url 'library-records' %}" class="btn btn-CCL-Blue col-12">Library Administration</a>
            </div>
        </div>
    </section>
{% endblock content %}
