{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="media content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-12 pt-2">
                <h3><strong>{{ title }} </strong></h3>
            </div>
        </div>
    </section>
    <section class="media content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-12 pt-2">
                <h5>July 2, 2022: Library Observation ServiceFlow</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    The Library Observation ServiceFlow has been updated:
                </p>
                <ul class="pb-2">
                    <li>The initial observation form has been updated. Observation Types are now: Typo; Image; Broken Link; Other</li>
                    <li>Upon submission the ServiceFlow will (depending on the Librarian's profile notification preference<span class="text-CCL-Gold"><strong>*</strong></span>) send an email notification to all Digital Librarians:</li>
                    <ul>
                        <li><span class="text-CCL-Gold"><strong>*</strong></span>You can verify your Notification Preference on your Profile <a href="{% url 'profile' %}" class="text-CCL-Blue" target="_blank">here</a> (scroll to the bottom of the page)</li>
                        <li>When set to "EMail" then you will be emailed if you are in the applicable service group</li>
                        <li>When set to "None" you will not be notified by email</li>
                        <li>However, password reset emails will still work regardless of your notification preference</li>
                    </ul>
                    <li>The Library Task list stores all active and completed Library tasks</li>
                    <li>Field descriptions for key task fields have been added</li>
                    <li>The Book Editor task presents all preceding task information as well as any entered urls for book files</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/726355380?h=fc9eec8633" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="pt-2">Video Timelines:</p>
                <ul>
                    <li>00'00" - 00'45": Introduction</li>
                    <li>00'45" - 03'53": Submitting a Record Observation</li>
                    <li>03'53" - 10'54": Librarian Task to Review the Observation</li>
                    <li>10'54" - 16'51": Book Editor Task to Check Book Files</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="media content-section text-CCL-Gold">
        <div class="row">
            <div class="col-lg-3 pt-2 pb-2">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-CCL-Blue col-12">Back</a>
            </div>
        </div>
    </section>
{% endblock content %}
